#balance {
  font-size: 40px;
}

#welcome-jumbo{
  padding: 64px 180px;
}

#login-jumbo {
  padding: 64px 120px;
}

#new-user-jumbo {
  padding: 64px 120px;
}

#auth-user-jumbo{
  padding: 64px 60px;
}

#error-list{
  list-style-type: none;
  color: red;
}

#brand{
  text-decoration: none;
  color: #000000;
}

#user-show{
  padding: 32px 120px;
}

#unit-show{
  padding: 32px 115px;
}

#user-container{
  padding: 64px 64px;
}

#unit-container{
  padding: 64px 64px;
}

#resident-name{
  font-size: 18px;
}

#unit-info{
  padding: 0px 24px;
}

#new-residency-form{
  margin: 20px 0px;
}

#signup-jumbo{
  padding: 64px 120px;
}